<% layout("/layouts/boilerplate")%>

<div class="row mt-3">
    
      <div class="col-8 offset-2">
        <h1>SignUp on Roamly</h1>
   <form action="/signup"method="post" class="needs-validation" novalidate>
     <div class="mb-3">
       <label for="username"  class="form-label">Username</label>
        <input name="username" 
        id="username"
        required 
        type="text" 
         class="form-control"/>

   <div class="valid-feedback">looks good</div>
      </div>

        <div class="mb-3">
       <label for="email"  class="form-label">Email</label>
        <input name="email" 
        id="email"
        required 
        type="email" 
         class="form-control"/>

   <div class="valid-feedback">looks good</div>
      </div>

       <div class="mb-3">
       <label for="Password"  class="form-label">Password</label>
        <input name="password" 
        id="Password"
        required 
        type="password" 
         class="form-control"/>

   <div class="valid-feedback">looks good</div>
   <button class="btn btn-success mt-3">SignUp</button>
      </div> 
   </form>
    </div>
</div>